certifi==2018.10.15
chardet==3.0.4
Django==2.1
django-cleanup==4.0.0
django-common==0.1.51
django-crispy-forms==1.9.0
django-unused-media==0.1.13
idna==2.7
Pillow==5.2.0
pytz==2018.5
requests==2.19.1
urllib3==1.23