boto3==1.13.8
certifi==2022.12.7
chardet==3.0.4
Django==2.1
django-cleanup==4.0.0
django-common==0.1.51
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-storages==1.9.1
django-unused-media==0.1.13
gunicorn==20.0.4
idna==2.7
Pillow==5.2.0
psycopg2==2.7.5
pytz==2018.5
requests==2.19.1
urllib3==1.23