{% extends "blog/base.html" %}
{% block content %}
<article class="content-section border-0 bg-transparent">
    <div class="">
        <div class="article-metadata">
            <div class="row">
                <div class="col-md-9">
                    <div class="pl-0 row">
                        <div class="col-md-1 col-2 mr-2">
                            <img src="{{object.author.profile.image.url}}" class="rounded-circle article-img profile-preview-img">
                        </div>
                        <div class="col-md-10 col-8 pt-1">
                            <a href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                            <br>
                            <small class="text-muted ">{{ object.date_posted|date:'F d, Y' }}</small>
                        </div>
                    </div>
                </div>
                {% if object.author == user %}
                <div class="col-md-3 text-md-right">
                    <a class="mt-1 mb-1 btn btn-sm btn-secondary" href="{% url 'post-update' object.id %}"> Update</a>
                    <a class="mt-1 mb-1 btn btn-sm btn-danger" href="{% url 'post-delete' object.id %}"> Delete</a>
                </div>
                {% endif %} 
            </div>
            
             
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        
        <!-- <p class="article-content">{{ object.content }}</p> -->
        <div class="row ">
            <div class="col-12 order-md-12 mt-2 mb-2">                
                <img class="img-fluid img-responsive w-100" src="{{ object.content.url }}" alt="">
            </div>
            <div class="col-md-2 col-12 order-md-1 ml-auto">
                <!-- {% if user in object.likes.all %}
                    <a href="{% url 'like-toggle' object.id %}" data-toggle="liked" class="w-100 btn btn-danger"><i class="fa fa-heart fa-2x"></i>{{object.likes.all|length}}</a>
                {% else %}            
                    <a href="{% url 'like-toggle' object.id %}" data-toggle="unliked" class="w-100 btn btn-outline-primary"><i class="fa fa-heart fa-2x"></i>{{object.likes.all|length}}</a>
                {% endif %} -->
                {% if user.is_authenticated %}
                    {% if user in object.likes.all %}
                        <button onclick="toggleLike(this)" id="like-btn" data-toggle="liked" class="w-100 btn btn-outline-danger">
                            <i class="fa fa-heart fa-sm"></i>
                            <span>{{object.likes.all|length}}</span>
                        </button>
                    {% else %}            
                        <button onclick="toggleLike(this)" id="like-btn" data-toggle="unliked" class="w-100 btn btn-outline-primary">
                            <i class="fa fa-heart fa-2x"></i>
                            <span>{{object.likes.all|length}}</span>
                        </button>
                    {% endif %}
                {% else %}
                    <a href="{% url 'login'%}?next={% url 'post-detail' object.id%}" class="w-100 btn btn-outline-primary">
                        <i class="fa fa-heart fa-2x"></i>
                        <span>{{object.likes.all|length}}</span>
                    </a>
                {% endif %}
                
            </div>                
        </div>
        
        <hr />
        <section id="comments">
            
            
            {% if user.is_authenticated %}
                <h5>Comments: </h5>
                <article class="content-section mb-0 border-0 w-90 bg-transparent">
                    <div class="row">                                                
                        <div class="col-3 col-md-1">
                            <img src="{{user.profile.image.url}}" class="rounded-circle mr-2 profile-preview-img ">                
                        </div>
                        <div class="col-9">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}                            
                                <fieldset class="form-group">
                                    {{form.content}}                    
                                </fieldset>                                                                                    
                                <div class="form-group ">                                
                                    <button type="submit" class="btn btn-outline-info ml-auto">Add Comment</button>                                
                                </div>
                            </form>
                        </div>                        
                    </div>
                </article>
            {% else %}
            <h5 >Comments: <a href="{% url 'login'%}?next={% url 'post-detail' object.id%}#comments" type="submit" class="btn btn-sm btn-outline-info ml-2">
                Add Comment
            </a></h5>
            {% endif %}

            {% for comment in object.comments.all  %}
                <article class="content-section mb-0 mt-0 media w-90 border-0 bg-transparent">
                    <img src="{{comment.author.profile.image.url}}" class="rounded-circle mr-2 profile-preview-img">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
                            <small class="text-muted">{{ comment.date_commented|date:'F d, Y' }}</small>
                        </div>
                        <p> {{ comment.content|linebreaks }}</p>
                    </div>
                </article>
    
            {% empty %}
                <h6 class="text-center mt-4"> No comments for this post</h6>
            {% endfor %}            
        </section>
    </div>      
</article>
<script>
    window.onload = () => {
        if(window.location.href.split("/").pop()==="#comments") {
            window.scrollTo({
                top: document.getElementById('comments').getBoundingClientRect().top,
                behavior: 'smooth',
            })
        }
    }

    function toggleLike(elem) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "{% url 'like-toggle' object.id %}" , true);
        xhttp.send();
        let button = elem
        
        if(button.getAttribute("data-toggle") === "liked") {
            button.setAttribute("data-toggle", "unliked");
            button.classList.remove("btn-outline-danger");
            button.classList.add("btn-outline-primary");
            let span = button.getElementsByTagName('span')[0]
            span.innerText = parseInt(span.innerText) - 1;
        }
        else {
            button.setAttribute("data-toggle", "liked");
            button.classList.remove("btn-outline-primary");
            button.classList.add("btn-outline-danger");
            let span = button.getElementsByTagName('span')[0]
            span.innerText = parseInt(span.innerText) + 1;
        }
        
    }
</script>
    
{% endblock content %}
